* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9ff;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}
.formbox {
  background-color: #f9f9ff;
  width: 350px;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 15px;
  color: #444;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #6a5acd;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
}

button:hover {
  transform: scale(1.05);
  background-color: #5b4ecb;
}
a{
    text-decoration: none;
}
